<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54380035317-e1irkq3dlfn99077fh38p9n8ctubph9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54380035317-e1irkq3dlfn99077fh38p9n8ctubph9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDkoGZheswl17zSuhQwyyIaF_uuFTHP3Is</string>
	<key>GCM_SENDER_ID</key>
	<string>54380035317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luckygenerator.luckyGenerator</string>
	<key>PROJECT_ID</key>
	<string>d-generator-a541a</string>
	<key>STORAGE_BUCKET</key>
	<string>d-generator-a541a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54380035317:ios:126af988c4b9b2b55f59bc</string>
</dict>
</plist>